
#navbar .container .icon_navbar .fa-sun{
    display: none;
}

body:has(#dark:checked){
    background-color: black;
}

body:has(#dark:checked) #navbar{
    background-color: black;
}

body:has(#dark:checked) #navbar .container .logo_navbar h1 a{
    color: white;
}

body:has(#dark:checked) #navbar .container .list_navbar ul li a{
    color: white;
}

body:has(#dark:checked) #navbar .container .icon_navbar .fa-moon{
    display: none;
}

body:has(#dark:checked) #navbar .container .icon_navbar .fa-sun{
    display: block;
    color:white;
}

body:has(#dark:checked) #home{
    background-color:rgb(49, 42, 42)
}

body:has(#dark:checked) #chefs{
    background-color:black
}

body:has(#dark:checked) #chefs .container .title_chefs{
    text-align: center;
    padding: 35px;
    color: white;
}

body:has(#dark:checked) #chefs .container .names_chefs .the_chief .synopsis{
    text-align: center;
    height: auto;
    border-radius: 30px;
    background-color: rgb(66, 60, 60);
}

body:has(#dark:checked) #chefs .container .names_chefs .the_chief .synopsis h3{
    text-align: center;
    padding: 35px;
    color: white;
}

body:has(#dark:checked) #chefs .container .names_chefs .the_chief .synopsis h4{
    text-align: center;
    padding: 5px 0 10px 0;
    color: white;
}

body:has(#dark:checked) #chefs .container .names_chefs .the_chief .synopsis p{
    text-align: center;
    padding: 5px 0 10px 0;
    color: white;
}

body:has(#dark:checked) #home .container .text_home h2{
    font-family:'Sue Ellen Francisco';
    font-size: 40px;
    color: white;
}

body:has(#dark:checked) #home .container .text_home p{
    padding:20px 0 20px 0;
    color: white;
}

#home .container .text_home .media_home .book_home{
    display: block;
    background-color: yellow;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    text-decoration: none;
    color: white;
    width: fit-content;
}

body:has(#dark:checked) #gallery{
    background-color:rgb(49, 42, 42)
}

body:has(#dark:checked) #gallery .container .head_gallery h2{
    color:white;
    font-size: 40px;
    font-family:'Sue Ellen Francisco';
}

body:has(#dark:checked) #gallery .container .head_gallery h3{
    color:white;
    font-size: 40px;
    font-family:'Sue Ellen Francisco';
}


body:has(#dark:checked) .contact{
    background-color: rgb(41, 38, 38);
}


body:has(#dark:checked) .contact .container .help .para .paratwo{
    font-family:'Sue Ellen Francisco';
    font-size: 30px;
    color:yellow;
    margin-bottom: 10px;
}

body:has(#dark:checked) .contact .container .callus .address{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    padding: 20px;
}

body:has(#dark:checked) .contact .container .callus .address .icon{ 
    background-color: orange;
}

body:has(#dark:checked) .contact .container .callus .address .text h2{
    color:white;
}

body:has(#dark:checked) .contact .container .callus .address .text p{
    color:white;
}

body:has(#dark:checked) .contact .container .callus .email{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    padding: 20px;
}

body:has(#dark:checked) .contact .container .callus .email .icon{ 
    background-color: orange;
}

body:has(#dark:checked) .contact .container .callus .email .text h2{
    color:white;
}

body:has(#dark:checked) .contact .container .callus .email .text p{
    color:white;
}

body:has(#dark:checked) .contact .container .callus .number{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    padding: 20px;
}
body:has(#dark:checked) .contact .container .callus .number .icon{ 
    background-color: orange;
}

body:has(#dark:checked) .contact .container .callus .number .text h2{
    color:white;
}

body:has(#dark:checked) .contact .container .callus .number .text p{
    color:white;
}

body:has(#dark:checked) .contact .container .callus .hours{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    padding: 20px;
}

body:has(#dark:checked) .contact .container .callus .hours .icon{ 
    background-color: orange;
}

body:has(#dark:checked) .contact .container .callus .hours .text h2{
    color:white;
}

body:has(#dark:checked) .contact .container .callus .hours .text p{
    color:white;
}

body:has(#dark:checked) .contact .container .forms button{
    background-color:orange;
}

body:has(#dark:checked) #footer .container .left_div .header h2::after{
    content: "";
    position: absolute;
    top: 20px;
    left: 75px;
    background-color: orange;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}



